.modal{
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition-duration: .2s;
    /* transform: scale(0); */
}
.active{
    height: 100vh;
    /* transform: scale(1); */
}