/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@font-face {
    font-family: 'Raleway';
    src: url(./components/font/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'RalewayBlack';
    src: url(./components/font/Raleway-Black.ttf);
}
body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
}

a{
    font-weight: 800;
    color: black;
    text-decoration: none;
    transition-duration: .12s;
    font-size: 18px;
    line-height: 140%;
}
a:hover{
    color: #D75347;
    transition-duration: .12s;
}

button{
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #D75347;
    font-weight: 800;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    transition-duration: .2s;
}
button:hover{
    box-shadow: 4px 4px 0px 0px black;
    transition-duration: .2s;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}
nav li:last-child{
    margin-right: 0;
}
h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
}
h2{
    margin: 0;
    font-size: 36px;
    line-height: 110%;
}
h3{
    font-size: 22px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 10px;
}

p, li, label{
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    margin: 0;
}

ul{
    list-style-position: outside;
    padding-left: 22px;
    margin: 0;
}
li{
    margin-bottom: 10px;
}
li:last-child{
    margin-bottom: 0;
}

section{
    width: 1160px;
    margin: auto;
    height: 100%;
}

.card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
    transition-duration: .2s;
}
.card:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    transition-duration: .2s;
}
.card p, form p{
    margin: 0;
    font-size: 16px;
    line-height: 150%;
}

form{
    padding: 30px;
    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    text-align: center;
}
fieldset{
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    margin-bottom: 30px;
}
fieldset:last-child{
    margin-bottom: 0;
}
fieldset h3{
    margin-bottom: 15px;
}
fieldset button{
    margin-bottom: 20px;
}
.inputs{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
input[type="text"]{
    width: 308px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 22px;
}
input[type="text"]:focus{
    border: 1px solid rgba(0, 0, 0, 1);
    outline: none;
}

input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.cb {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 30px;
}
.cb::before {
    content: '';
    background: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #373737;
    border-radius: 4px;
    margin-right: 10px;
    transition-duration: .1s;
}
.checked::before{
    border-color: #D75347;
    background: #D75347;
    transition-duration: .1s;
}
form p{
    color: #373737;
    opacity: 0.6;
}

.p-20{
    padding: 20px;
}
.pt-75{
    padding-top: 75px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-75{
    padding-bottom: 75px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}
.d-f{
    display: flex;
    flex-wrap: wrap;
}
.g-20{
    gap: 20px;
}
.g-40{
    gap: 40px
}
.c-b{
    color: black;
}
.c-w{
    color: white;
}
.c-r{
    color: #D75347;
}
.b-b{
    background: #373737;
}
.b-w{
    background: #FFF;
}
.b-r{
    background: #D75347;
}
.b-f9f9f9{
    background: #F9F9F9;
}
.fd-c{
    flex-direction: column;
}
.ac-sb{
    align-content: space-between;
}
.jc-sb{
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}
.ai-c{
    align-items: center;
}
.ta-c{
    text-align: center;
}
.f-1{
    flex: 1;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.img-wrapper{
    height: 250px;
    background-color: black;
    width: fit-content;
    border-radius: 6px;
}
.img-wrapper img{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 2px;
    border-radius: 6px;
}

#teachers-anchor, #about-anchor, #teaching-program-anchor{
    position: relative;
    top: -90px;
}